@import '../../css-config/mixins.scss';

.product {
  padding: 10px;
  gap: 50px;
  @include md {
    display: flex;
    padding: 20px 50px;
  }

  .left {
    flex: 1;
    display: flex;
    gap: 20px;

    .images {
      flex: 1;

      img {
        width: 100%;
        height: 150px;
        object-fit: cover;
        cursor: pointer;
        margin-bottom: 10px;
      }
    }
    .mainImg {
      flex: 5;

      img {
        width: 100%;
        height: 315px;
        object-fit: cover;
        @include md {
          height: 600px;
        }
      }
    }
  }

  .right {
    flex: 1;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    gap: 30px;

    .price {
      font-size: 30px;
      color: #2879fe;
      font-weight: 500;
    }

    p {
      font-size: 18px;
      font-weight: 300px;
      text-align: justify;
    }

    .quantity {
      display: flex;
      align-items: center;
      gap: 10px;

      button {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border: none;
      }
    }

    .add {
      width: 250px;
      color: white;
      padding: 10px;
      background-color: #2879fe;
      display: flex;
      align-items: center;
      gap: 20px;
      cursor: pointer;
      justify-content: center;
      border: none;
      font-weight: 500;
    }

    .info {
      display: flex;
      flex-direction: column;
      gap: 10px;
      color: gray;
      font-size: 14px;
      margin-top: 30px;

      hr {
        border: 1px solid rgb(192, 192, 192);
      }
    }
  }
}

/*.product {
  padding: 20px 50px;
  display: flex;
  gap: 50px;

  .left {
    flex: 1;
    display: flex;
    gap: 20px;

    .images {
      flex: 1;

      img {
        width: 100%;
        height: 150px;
        object-fit: cover;
        cursor: pointer;
        margin-bottom: 10px;
      }
    }

    .mainImg {
      flex: 5;

      img {
        width: 100%;
        height: 600px;
        object-fit: cover;
      }
    }
  }

  .right {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 30px;

    .price {
      font-size: 30px;
      color: #2879fe;
      font-weight: 500;
    }

    p {
      font-size: 18px;
      font-weight: 300px;
      text-align: justify;
    }

    .quantity {
      display: flex;
      align-items: center;
      gap: 10px;

      button {
        width: 50px;
        height: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        border: none;
      }
    }

    .add {
      width: 250px;
      color: white;
      padding: 10px;
      background-color: #2879fe;
      display: flex;
      align-items: center;
      gap: 20px;
      cursor: pointer;
      justify-content: center;
      border: none;
      font-weight: 500;
    }

    .info {
      display: flex;
      flex-direction: column;
      gap: 10px;
      color: gray;
      font-size: 14px;
      margin-top: 30px;

      hr {
        border: 1px solid rgb(192, 192, 192);
      }
    }
  }
}
*/
